**/.DS_Store
**/node_modules
**/build
!pannellum-metroparks/utils/build
**/.svelte-kit
**/package
**/.env
**/.env.*
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
**/logs

trailviewer/demo/env.js
trailviewer/dist

.env
.env.*
*.env
!.env.example

data/
logs/
