.marker {
    height: 20px;
    width: 20px;
}

.marker:hover {
    height: 20px;
    width: 20px;
    z-index: 9;
    /* background-color: #09d102; */
    cursor: pointer;
}

/* .marker_current {
    height: 25.2px;
    width: 25.2px;
    box-shadow: 0px 0px 0px 12.6px rgba(67, 177, 250, 0.5);
} */

.marker_current {
    height: 25.2px;
    width: 25.2px;
    pointer-events: none;
}

.marker_viewer {
      width: 44px;
      height: 44px;
  }

.mapboxgl-ctrl .mapboxgl-ctrl-group{
    z-index: 12;
}

.mapboxgl-ctrl-bottom-right {
    right: 50px;
}