.pnlm-about-msg {
    visibility: hidden;
}
   
.pnlm-grabbing {
    cursor: grabbing;
}

#panorama {
    width: 1280px;
    height: 720px;
}

@keyframes fade_in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.custom-hotspot {
    background-size: cover;
    height: 55.5px;
    width: 100px;
    background-image: url("/assets/images/ui/arrow_new_small.png");
}
