.custom-hotspot-small {
    width: 50px !important;
    height: 27.75px !important;
}

.custom-hotspot {
    display: none;
}


.controls {
    z-index: 5;
    position: absolute;
    right: 8px;
    bottom: 10px;
}

.trail_text_container {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
    z-index: 5;
    position: absolute;
    top: 8px;
    right: 8px;
    color: rgb(245, 222, 179); 
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px; 
    padding: 2px 10px 2px 10px;
    pointer-events: none;
}

.trail_text_left {
    left: 8px;
    right: auto;
}

.trail_text_container h2 {
    margin: 0;
    padding: 0;
}

#viewer_half {
    position: relative;
}

#nav_container {
    z-index: 10;
    /* background-color: rgba(0, 0, 0, 0.25); */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: perspective(300px) rotateX(30deg);
    pointer-events: none;
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    overflow: visible;
}

.nav_container-full {
    width: 300px;
    height: 300px;
    bottom: 10px;
}

.nav_container-small {
    width: 150px;
    height: 150px;
    bottom: 5px;
}

.new_nav {
    position: absolute;
    height: 55.5px;
    width: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    pointer-events: all;
    cursor: pointer;
    user-select: none;
}

.new_nav-small {
    height: 41.625px !important;
    width: 75px !important;
}