.trailview-main-container {
    position: relative;
    background-color: rgb(139, 158, 85);
}

.trailview-viewer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.76, 0, 0.24, 1),
        height 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.trailview-viewer-container-desktop {
    height: 100% !important;
}

.trailview-viewer-container-mobile {
    height: 60% !important;
}

.trailview-map-container {
    position: absolute;
    background-color: rgb(233, 234, 210);
    transition: width 0.5s cubic-bezier(0.76, 0, 0.24, 1),
        height 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.trailview-map-container-desktop {
    bottom: 10px;
    left: 10px;
    width: 200px;
    height: 145px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgba(0, 0, 0, 0.5);
}

.trailview-map-container-desktop .mapboxgl-control-container {
    transition: opacity 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    opacity: 0;
}

.trailview-map-container-desktop:hover {
    width: 400px;
    height: 300px;
}

.trailview-map-container-desktop:hover .mapboxgl-control-container {
    opacity: 1;
}

.trailview-map-container-mobile {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
}
